.products {
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    width: 150px;
    border: 1px solid;
    text-align: center;
    margin: 10px;
    background-color: burlywood;
}
.card-h3 {
    margin: 5px;
}
.by-btn {
    margin-bottom: 5px;
}